.App {
  font-family: sans-serif;
  text-align: center;
}

.dot {
  height: 55px;
  width: 55px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  margin: 2px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 450px;
  height: 450px;
  background-color: #c4c4c4;
}

.red {
  background-color: #ef4343;
}

.black {
  background-color: #0a0101;
}
